/* 
.hero-image{
    width:90%;
    height:700px;
    margin:0 auto;
    padding: 40px 0 70px;
    object-fit: cover;
}
.hero-container{
    background-color: black;
    font-family: sans-serif;
}
.host{
    color: white;
    font-size: 24px;
    text-align: center;
    text-align: center;
    
} */